block vars 
    -
        var
            pagetitle = "Base",
            menutitle = "Base";

//- default_blocks
include ../blocks/header/header.pug
include ../blocks/breadcrumbs/breadcrumbs.pug
include ../blocks/footer/footer.pug

block blocks 

doctype html
html(lang="ru")
    head
        block head
            //defaults
            meta(charset='UTF-8')
            meta(http-equiv='X-UA-Compatible' content='IE=edge')
            meta(name='viewport' content='width=device-width, initial-scale=1.0')
            meta(name="format-detection" content="telephone=no")
            //defaults end
            
            //-fonts
            //- link(rel='stylesheet' type='text/css' href='assets/fonts/FONT_NAME/stylesheet.css')
            //-fonts end

            //styles
            link(rel='stylesheet' type='text/css' href='assets/styles/style.css')
            link(rel='stylesheet' type='text/css' href='assets/blocks/styles.css')
            //styles end
            
            title #{pagetitle} | PROJECT_NAME
    
    body(itemscope itemtype="https://schema.org/WebPage")
        
        block header
            +header()

        block breadcrumbs
            +breadcrumbs()

        block content

        block footer
            +footer()
            
        script(src="assets/scripts/script.js")
        script(src="assets/blocks/scripts.js")