extends base.pug

block vars 
    -
        var
            pagetitle = "Главная",
            menutitle = "Главная";

block blocks 

block breadcrumbs
    //- empty

block content
    .section.py-5 
        .container 
            .row.d-flex.align-items-center
                .col-12 
                    h1 Hello world
                    p This is my gulp
                each item in new Array(8)
                    .col col