extends base.pug

block vars 
    -
        var
            pagetitle = "Главная",
            menutitle = "Главная";

block breadcrumbs
    //- empty

block content
    .section.py-5 
        .container 
            .row.d-flex.align-items-center
                .col Hello world
                .col This is my gulp 